@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-fill-4) var(--color-bg-7);
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: rgba(255,255,255, 0.12);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #E6E9EE;
  opacity: 0;
  transition: opacity 0.3s;
}

*::-webkit-scrollbar-thumb:hover {
  opacity: 1;
  background: #E6E9EE;
  box-shadow: inset 0 0 6px #E6E9EE;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-width: 1280px;
  background-image: url('/system-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.text-xxs {
  font-size: 10px;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor !important;
  overflow: hidden;
}

.ant-popconfirm-buttons  {
    display: flex;
    flex-direction: row-reverse;
}